.full-width-table {
  width: 100%;
  
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
  border-color: black;
  border-width: bold;
  border-style:solid;
  
}
.space{
  width: 200px;
}

